<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>Pops 参数传递</title>
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<div id="app">

			姓名：
			<input type="text" id="Name" v-model='name' /> 年龄：
			<input type="text" id="Age" v-model='age' />

			<!-- <my-component v-bind:my-name="name" v-bind:my-age="age"></my-component> -->

			<!-- 简写 传入参数 (默认是单向绑定)-->
			<my-component :my-name.sync="name" :my-age.sync="age"></my-component>

			<!-- sync 标识为双向绑定-->
			<my-component :my-name.sync="name" :my-age.sync="age"></my-component>

			<!-- once 单次绑定 -->
			<my-component :my-name.once="name" :my-age.once="age"></my-component>
		</div>

	</body>
	<script src="js/vue.min.js"></script>

	<template id="mycomponent">
		<div>This is the 语法糖 component!</div>

		<div id="testID">{{a}}</div>

		<div>{{b}}</div>

		<button v-on:click="onTestClick">{{Test}}</button>

		<input type="text" v-model="b" />

		<span>姓名: {{myName}}</span>

		<span>年龄: {{myAge}}</span>

	</template>
	
	<script>
		// 语法糖， 构造并且注册一个组件
		Vue.component('my-component', {
			template: '#mycomponent',

			data: function() {
				return {
					a: 100,
					b: '100',
					Test: '测试'
				}
			},

			methods: {
				// 监听搜索输入事件
				onTestClick: function() {
					alert("1111");
				},

				onTestInputChange: function(val, oldVal) {
					console.log('new: %s, old: %s', val, oldVal)
				}

			},

			watch: {
				/// 使用匿名函数
				/*'b': function(val, oldVal) {
					console.log('new: %s, old: %s', val, oldVal)
				}*/

				/// 使用函数名
				'b': 'onTestInputChange'
			},

			/// 传递参数， 必须是数组 或者对象 Array | Object， 命名为 camelCase 驼峰命名法， 需要转为 kebab-case（短横线隔开）
			props: ['myName', 'myAge']
		});

		// 4.挂在vue实例
		var vueApp = new Vue({
			el: '#app',

			data: {
				name: 'lee',
				age: '28'
			}
		});
	</script>

</html>